<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-icon name="home"></ion-icon>-->
<!--    <ion-title>Weather Forecast</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-list lines="none">
        <ion-item class="heading">
          <ion-icon name="apps"></ion-icon>
          <ion-title class="ion-text-center" size="large">Weather Forecast</ion-title>
        </ion-item>
      </ion-list>

    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-searchbar placeholder="Search Your City"></ion-searchbar>

    <!-- Today's weather status of Users location -->
    <ion-card>
      <ion-card-header>
        <ion-list lines="none">
          <ion-item>
            <strong>Today</strong>
            <span slot="end">Friday, 01 April</span>
          </ion-item>
        </ion-list>

      </ion-card-header>
      <ion-card-content>


        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center ion-padding-bottom">
            <ion-col>
              <strong class="big-font">30</strong>
            </ion-col>
            <ion-col class="ion-text-end">
              <ion-img src="./assets/icon/few-clouds.png" class="graphics-status"></ion-img>
              <!--              <ion-icon src="/assets/icon/few-clouds.png"></ion-icon>-->
              <ion-chip>
                <ion-label color="secondary">Mostly Cloudy</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
          <ion-item class="transparent">
            <strong>Location</strong>
            <label slot="end">Dhaka</label>
          </ion-item>
          <ion-item class="transparent">
            <strong>Air Quality</strong>
            <label slot="end">Fair</label>
          </ion-item>
          <ion-item class="transparent">
            <strong>Wind</strong>
            <label slot="end">S 19 km/h</label>
          </ion-item>
          <ion-item class="transparent">
            <strong>Wind Gusts</strong>
            <label slot="end">19 km/h</label>
          </ion-item>
        </ion-list>

<!--        <div class="ion-padding-top ion-text-center">-->
<!--          <ion-icon name="pin"></ion-icon>-->
<!--          <span>Colombo, Bangladesh</span>-->
<!--        </div>-->
      </ion-card-content>

    </ion-card>

    <!-- Humidity & Air pressure -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="card-2-flex">
            <ion-icon name="map"></ion-icon>
            <div class="content">
              <h4>92%</h4>
              <span>Humidity</span>
            </div>
          </div>

        </ion-col>
        <ion-col>
          <div class="card-2-flex">
            <ion-icon name="map"></ion-icon>
            <div class="content">
              <h4>92HPa</h4>
              <span>Pressure</span>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Upcoming weather -->
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="card-2-flex">
            <div class="content date">
              <h4>+30 <span>0</span><strong>C</strong></h4>
              <span>Friday</span>
            </div>
          </div>

        </ion-col>
        <ion-col size="4">
          <div class="card-2-flex">
            <div class="content date">
              <h4>+30 <span>0</span><strong>C</strong></h4>
              <span>Saturday</span>
            </div>
          </div>

        </ion-col>
        <ion-col size="4">
          <div class="card-2-flex">
            <div class="content date">
              <h4>+30 <span>0</span><strong>C</strong></h4>
              <span>Sunday</span>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
