ion-content {
  --background: var(--aw-color-light);
  ion-header{

    ion-icon{
      margin-top: 9px;
    }
    ion-icon, ion-title {
      color: white;
      font-size: 25px;
    }
  }
}

ion-toolbar, ion-list, ion-item.heading {
  --background: var(--aw-color-light);
  background: var(--aw-color-light);
}

ion-item.transparent {
  --background: var(--aw-color-deep);
  background: var(--aw-color-deep);
  color: white;
  --padding-start: 0;
}

ion-searchbar {
  --color: var(--aw-color-light);
  --placeholder-color: var(--aw-color-light);
  --placeholder-font-weight: bold;
  --placeholder-opacity: 0.8;
  --clear-button-color: var(--ion-color-danger);
  --icon-color: var(--aw-color-light);
}

.big-font {
  font-size: 60px;
  color: white;
}

.deg-position {
  font-size: 20px;
  padding-left: 5px;
  vertical-align: top;
}

.card-2-flex {
  background: var(--aw-color-deep);
  color: #666666;
}

ion-searchbar, ion-card {
  --background: var(--aw-color-deep);
}

.graphics-status {
  width: 70px;
  display: inline-block;
}

ion-card {
  margin: 6px 16px;
}

ion-grid.grid-space {
  padding-left: 11px;
  padding-right: 11px;
}

.card-2-flex {
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  color: white;
  img {
    width: 30px;
    margin-right: 16px;
  }
  .content {
    h4 {
      margin: initial;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .date {text-align: center;}
}
