.graphics-status {
  width: 70px;
  display: inline-block;
}

ion-card[color="dark"] {
  min-height: 100px;
}

.card-2-flex {
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  //background-color: blue;
  //color: white;
  padding: 16px;
  border-radius: 8px;
  ion-icon {font-size: 30px;margin-right: 16px;}
  .content {
    h4 {
      margin: initial;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
