<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-icon name="home"></ion-icon>-->
<!--    <ion-title>Weather Forecast</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-list lines="none">
        <ion-item class="heading">
          <ion-icon name="apps"></ion-icon>
          <ion-title class="ion-text-center" size="large">Weather Forecast</ion-title>
        </ion-item>
      </ion-list>

    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-searchbar
      placeholder="Search Your City"
      (ionChange)="doSearch($event)"
      debounce="1000" (ionClear)="clearSearch($event)"></ion-searchbar>

    <!-- Today's weather status of Users location -->
    <ion-card>
      <ion-card-header>
        <ion-list lines="none">
          <ion-item>
            <strong>Today</strong>
            <span slot="end">{{ (currentData?.LocalObservationDateTime) | date:'EEEE, d MMMM' }}</span>
          </ion-item>
        </ion-list>

      </ion-card-header>
      <ion-card-content>


        <ion-grid>
          <ion-row class="ion-justify-content-between ion-align-items-center ion-padding-bottom">
            <ion-col>
              <div style="position: relative">
                <strong class="big-font">{{ currentData?.Temperature?.Metric?.Value }}</strong>
                <span *ngIf="currentData?.Temperature?.Metric?.Unit"
                      class="deg-position">°{{ currentData?.Temperature?.Metric?.Unit }}</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-end">
              <ion-img src="./assets/icon/{{weatherIcon ? weatherIcon : 'mist'}}.png" class="graphics-status"></ion-img>
<!--              <ion-img src="./assets/icon/38.png" class="graphics-status"></ion-img>-->

              <!--              <ion-icon src="/assets/icon/38.png"></ion-icon>-->
              <ion-chip>
                <ion-label color="secondary">{{ currentData?.WeatherText }}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
          <ion-item class="transparent">
            <strong>Location</strong>
            <label slot="end">{{ address }}</label>
          </ion-item>
          <!--          <ion-item class="transparent">-->
          <!--            <strong>Air Quality</strong>-->
          <!--            <label slot="end">Fair</label>-->
          <!--          </ion-item>-->
          <ion-item class="transparent">
            <strong>Wind</strong>
            <label
              slot="end"> {{ currentData?.Wind?.Speed?.Metric?.Value + ' ' + currentData?.Wind?.Speed?.Metric?.Unit }} </label>
          </ion-item>
          <ion-item class="transparent">
            <strong>Wind Gusts</strong>
            <label
              slot="end">{{ currentData?.WindGust?.Speed?.Metric?.Value + ' ' + currentData?.WindGust?.Speed?.Metric?.Unit }}</label>
          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>

    <!-- Humidity & Air pressure -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="card-2-flex">
            <ion-icon name="map"></ion-icon>
            <div class="content">
              <h4>{{ currentData?.RelativeHumidity }}%</h4>
              <span>Humidity</span>
            </div>
          </div>

        </ion-col>
        <ion-col>
          <div class="card-2-flex">
            <ion-icon name="map"></ion-icon>
            <div class="content">
              <h4>{{ currentData?.Pressure?.Metric?.Value + currentData?.Pressure?.Metric?.Unit}}</h4>
              <span>Pressure</span>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Upcoming weather -->
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="card-2-flex">
            <div class="content date">
              <h4>+30 <span>0</span><strong>C</strong></h4>
              <span>Friday</span>
            </div>
          </div>

        </ion-col>
        <ion-col size="4">
          <div class="card-2-flex">
            <div class="content date">
              <h4>+30 <span>0</span><strong>C</strong></h4>
              <span>Saturday</span>
            </div>
          </div>

        </ion-col>
        <ion-col size="4">
          <div class="card-2-flex">
            <div class="content date">
              <h4>+30 <span>0</span><strong>C</strong></h4>
              <span>Sunday</span>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
