ion-content {
  --background: var(--aw-color-light);
}

ion-toolbar, ion-list, ion-item.heading {
  --background: var(--aw-color-light);
  background: var(--aw-color-light);
}

ion-item.transparent {
  --background: var(--aw-color-deep);
  background: var(--aw-color-deep);
  color: white;
  --padding-start: 0;
}

ion-searchbar {
  --placeholder-color: var(--icon-color);
}

.big-font {
  font-size: 80px;
  color: white;
}

.card-2-flex {
  background: var(--aw-color-deep);
  color: #666666;
}

ion-searchbar, ion-card {
  --background: var(--aw-color-deep);
}

.graphics-status {
  width: 70px;
  display: inline-block;
}

ion-card[color="dark"] {
  min-height: 100px;
}

.card-2-flex {
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  //background-color: blue;
  //color: white;
  padding: 16px;
  border-radius: 8px;
  ion-icon {font-size: 30px;margin-right: 16px;}
  .content {
    h4 {
      margin: initial;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .date {text-align: center;}
}
